<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Application Forniture - Acceuil</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="./vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <script src="/vendor/chart.js/Chart.bundle.min.js"></script>


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">



        <div th:replace="shared/header :: header"></div>

        <div th:replace="shared/sidebar :: sidebar"></div>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">

                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Tableau de bord</a></li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="ti-package text-success border-success"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Nombre Des Produits</div>
                                    <div class="stat-digit" th:text="${totalProduits}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="ti-user text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Nombre Des Bénéficiaires</div>
                                    <div class="stat-digit" th:text="${totalBeneficiaire}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="ti-receipt text-warning border-warning"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Nombre Des Mouvements</div>
                                    <div class="stat-digit" th:text="${totalMvn}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="ti-link text-danger border-danger"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Referral</div>
                                    <div class="stat-digit">2,781</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Mouvements par mois</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="monthlyMouvementChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Nombre Des Mouvements Par Etat</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="mouvementChart" ></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Chronologie</h4>
                            </div>
                            <div class="card-body">
                                <div class="widget-timeline">
                                    <ul class="timeline text-center">
                                        <th:block th:each="mouvement : ${recentMouvements}">
                                            <li>
                                                <div th:if="${mouvement[4]=='ENTREE'}" class="timeline-badge info "></div>
                                                <div th:if="${mouvement[4]=='SORTIE'}" class="timeline-badge success"></div>
                                                <div th:if="${mouvement[4]=='EN COURS'}" class="timeline-badge warning"></div>
                                                <div th:if="${mouvement[4]=='AVANCE'}" class="timeline-badge danger"></div>

                                                <a class="timeline-panel text-muted" href="#">
                                                    <span th:text="${mouvement[1]}">Time ago</span>
                                                    <h6 class="m-t-5"
                                                        th:text="'Produit: ' + ${mouvement[0]} + ', Bénéficiaire: ' + ${mouvement[2]}+ ', Quantité: ' + ${mouvement[3]} + ', Etat: ' + ${mouvement[4]}"></h6>
                                                </a>
                                            </li>
                                        </th:block>
                                    </ul>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <div th:replace="shared/footer :: footer"></div>

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/quixnav-init.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/vendor/moment/moment.min.js"></script>
    <script src="/vendor/pg-calendar/js/pignose.calendar.min.js"></script>

    <!-- Chart.js Initialization -->
    <script th:inline="javascript">
        var labels = /*[[${labels}]]*/ [];
        var counts = /*[[${counts}]]*/ [];


        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('mouvementChart').getContext('2d');
            if (ctx) {
                var mouvementChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Nbr',
                            data: counts,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],

                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
            }
        });
    </script>


    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var monthlyCtx = document.getElementById('monthlyMouvementChart');
            if (monthlyCtx) {
                var monthlyMouvementChart = new Chart(monthlyCtx, {
                    type: 'bar',
                    data: {
                        labels: /*[[${months}]]*/ [],
                        datasets: [{
                            label: 'Nbr',
                            data: /*[[${monthlyCounts}]]*/ [],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(255, 206, 86, 0.6)',
                                'rgba(75, 192, 192, 0.6)',
                                'rgba(153, 102, 255, 0.6)',
                                'rgba(255, 159, 64, 0.6)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                beginAtZero: true
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        });
    </script>











</body>

</html>